body
{
    color: black;
    text-align: center;
    background-color: #909090;
}

p
{
    font-size: medium;
}

h2
{
    font-size: xx-large;
    color: #4C0068;
}

img
{
    width: 75%;
    height: 75%;
}

.header
{
    text-align: center;
}

a
{
    text-decoration: none;
}

a:hover
{
    color:crimson;
}


